fastapi
uvicorn
pydantic
langchain
langchain-openai
openai
langchain-community
langchain-text-splitters
faiss-cpu
weaviate-client
pypdf
python-multipart
python-docx
pymongo
langchain-core
langchain-pinecone
-e .